* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  background: url(./images/bg-desktop.svg) no-repeat top center;
  background-color: hsl(257, 40%, 49%);
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-family: 'Poppins', sans-serif;
  margin-top: 9rem;
  color: #fff;
}

.container {
  max-width: 1440px;
  display: flex;
  justify-content: center;
  padding: 1rem 0;
  margin: 0 auto;
}

.col-left {
  width: 50%;
  padding: .5rem;
}

.logo {
  width: 30%;
  margin-bottom: 3rem;
}

.mockup {
  width: 98%;
}

.col-right {
  width: 40%;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.col-right p {
  margin-top: 2rem;
  color: #fff;
}

button {
  margin: 2rem 0;
  width: 30%;
  padding: .8rem 2rem;
  border-radius: 2rem;
  border-style: none;
  color: hsl(257, 40%, 49%);
  font-family: 'Poppins', sans-serif;
  box-shadow: 1px 1px 10px hsl(0, 0%, 30%);
  transition: all .4s ease;
}

button:hover {
  cursor: pointer;
  background-color: hsl(300, 69%, 71%);
  color: #fff;
}

.col-right ul {
  list-style: none;
  text-align: right;
  margin-top: 10rem;
}

.col-right li {
  display: inline;
  padding: .5rem;
  padding-right: 2rem;
}

.col-right li i {
  width: 2rem;
  height: 2rem;
  margin-right: 0.5rem;
  padding-top: .5rem;
  border: 1px solid #fff;
  border-radius: 50%;
  text-align: center;
  font-size: 1rem;
  color: #fff;
  transition: all .4s ease;
}

.col-right li i:hover {
  cursor: pointer;
  color: hsl(300, 69%, 71%);
  border: 1px solid hsl(300, 69%, 71%);
}

/* ------MOBILE------ */

@media screen and (max-width:998px) {
  .logo {
    width: 35%;
  }

  body {
    background: url(./images/bg-mobile.svg) no-repeat;
    background-color: hsl(257, 40%, 49%);
  }

  .container {
    flex-direction: column;
    padding: 2rem;
  }

  h1 {
    margin-top: 1rem;
  }

  .col-left {
    width: 100%;
  }

  .col-right {
    width: 100%;
    text-align: center;
  }

  button {
    margin: 2rem auto;
    width: 70%;
  }

  .col-right ul {
    text-align: center;
    margin-top: 3rem;
  }

  .col-right li {
    padding-right: 0;
  }
}